.productImage {
    max-width: 200px;
    max-height: 200px;
}

.category-side{
    min-height: 100%;
    background-color: aliceblue;
    position: fixed;
}

.category-side ul {
    padding: 30px 0 0 0;
    min-width: 300px;
    text-align: center;
    margin: 0;
}

li a {
    list-style: none;
    line-height: 3em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #1b1e21;
}

li:hover {
    background-color: #d1ecf1;
    text-decoration: none;
}
li a:hover {
    text-decoration: none;
    color: #721c24;

}

li a:active {
    background-color: #d1ecf1;
}

.cartLink {
    border: 1px solid #d1ecf1;
    border-radius: 5px;
    padding: 10px 15px;
    background: #d1ecf1;
    line-height: 10em;
    text-decoration: none;
    color: #721c24;
    margin-left: 80px;
}

.cartLink:hover {
    text-decoration: none;
    color: cornflowerblue;
    cursor: pointer;
}

table {
    min-width: 100%;
    text-align: center;
    align-items: center;
    justify-self: auto;
}

.table-header {
    text-align: center;
    align-self: center;
    font-size: 26px;
}

.btnAdd {
    outline: none;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.table-element {
    line-height: 2em;
}

.table-element-ajax {
    margin: 0 70px;
}